body {
  background-color: #C4C4C4;
  color: #333333;
  font-size: 1.2em; /*this allows  you to quickly edit all fonts from one location*/
  line-height: 1.3em; /*this allows text to be more readable*/
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 0.5em;

}

h3 {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 0.5em;
}

.author {
  padding-bottom: 1em;
}

figcaption {
font-size: 0.85em;
font-style: italic;
text-align: left;
line-height: 0.5em;
padding-bottom: 2em;
}

p + p {
  margin-top: 12px;
}

a:link { color:#000000; text-decoration: none;} /* unvisited */
a:visited { color:#333333; } /* visited */
a:hover { color:#FFFFFF; } /* mouse over */
a:active { color:#0070BD; } /* selected */

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
